<section class="create-account">
    <img (click)="goBack()" class="back-button" src="assets/icons/arrow_back.svg" alt="">
    <h1>Konto erstellen</h1>
    <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input-section">
            <div class="input-style" (click)="focusNameInput()">
                <img src="assets/icons/person_filled.svg" alt="">
                <input #nameInput type="text" autocomplete="off" placeholder="Name und Nachname"
                    formControlName="fullName" (keydown)="handleSpace($event)" maxlength="15" minlength="5"
                    pattern="\s*(\S\s*){5,}">
            </div>
            <div [ngStyle]="{'color': registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.dirty ||
            registerForm.get('fullName')?.touched || isSubmitted) ? 'red' : 'white'}" class="error-message">
                Bitte schreiben Sie einen Namen. (min 5 Zeichen)</div>
        </div>
        <div class="input-section">
            <div class="input-style" (click)="focusMailInput()">
                <img src="assets/icons/mail.svg" alt="">
                <input #mailInput type="text" autocomplete="off" placeholder="beispielname@email.com"
                    formControlName="email" (keydown)="handleSpace($event)">
            </div>
            <div [ngStyle]="{'color': registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty ||
            registerForm.get('email')?.touched || isSubmitted) ? 'red' : 'white'}" class="error-message">*Diese
                E-Mail-Adresse ist leider ungültig.</div>
        </div>
        <div class="input-section">
            <div class="input-style" (click)="focusPasswortInput()">
                <img src="assets/icons/lock.svg" alt="">
                <input #passwortInput type="password" autocomplete="off" placeholder="Passwort"
                    formControlName="password" (keydown)="handleSpace($event)" maxlength="15" minlength="5"
                    pattern="\s*(\S\s*){5,}">
            </div>
            <div [ngStyle]="{'color': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty ||
            registerForm.get('password')?.touched || isSubmitted) ? 'red' : 'white'}" class="error-message">Bitte geben
                sie ein Passwort ein. (ohne Leerzeichen & min 5 Zeichen)</div>
        </div>
        <div class="privacy-policy-check">
            <input #policyCheckbox type="checkbox" style="width: 15px; height: 15px;" formControlName="checkbox">
            <span>Ich stimme der <span routerLink="/datenschutz" class="privacy-policy-link">Datenschutzerkläung</span>
                zu.</span>
        </div>
        <div class="continue-button">
            <!-- <button class="button-primary"
                [disabled]="registerForm.invalid || !registerForm.value.checkbox">Weiter</button> -->
            <button>Weiter</button>
        </div>
    </form>
</section>