* {
  font-family: var(--font-nunito);
}

.login-section {
  padding: var(--section-padding);
  border-radius: var(--section-border-radius);
  background-color: var(--clr-white);
  > h1 {
    font-size: 46px;
    color: var(--clr-primary);
    text-align: center;
    margin-block: 0;
    margin-bottom: 30px;
  }
  > p {
    max-width: 40ch;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.forgot-password {
  color: var(--clr-primary-hover);
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  > span {
    &:hover {
      background-color: var(--clr-bg);
      padding: 5px 15px;
      border-radius: var(--section-border-radius);
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.create-account-button {
  position: absolute;
  top: 40px;
  right: 40px;
  display: grid;
  gap: 20px;
  > div {
    text-align: end;
    color: var(--clr-primary-hover);
    font-size: 18px;
    transform: translateX(15px);
    cursor: pointer;
    span {
      border: 1px solid transparent;
      padding: 10px 15px;
    }
    &:hover {
      > span {
        border-radius: 30px;
        border: 1px solid var(--clr-primary-hover);
        color: var(--clr-primary);
        text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
      }
    }
  }
}

.separator {
  margin: 30px 0px;
  font-size: 18px;
  display: flex;
  > p {
    width: 100%;
    border-bottom: 1px solid var(--clr-primary-hover);
    margin: 5px 0;
  }
  > span {
    margin: 0 20px;
  }
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    font-weight: bold;
  }
  &:active {
    border: 1px solid var(--clr-primary) !important;
  }
  > span {
    all: unset;
    color: var(--clr-primary);
    font-size: 18px;
    margin-left: 20px;
  }
  > img {
    filter: unset;
  }
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.impressum-data {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  color: var(--clr-primary-hover);
  margin-top: 30px;
  transform: translateY(20px);
}
