*,
*::before,
*::after {
  scroll-behavior: smooth;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.button-primary {
  padding: 12px 25px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 25px;
  background-color: var(--clr-primary);
  font-size: 18px;
  font-family: var(--font-nunito);
  cursor: pointer;
  &:hover {
    background-color: var(--clr-primary-hover);
  }
  &:active:not(:disabled) {
    background-color: var(--clr-primary);
  }
  &:disabled {
    background-color: var(--clr-grey);
    cursor: default;
  }
}

.button-secondary {
  padding: 12px 25px;
  text-align: center;
  color: var(--clr-primary);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-primary-hover);
  border-radius: 25px;
  font-size: 18px;
  font-family: var(--font-nunito);
  cursor: pointer;
  &:hover:not(:disabled) {
    background-color: var(--clr-secondary-hover);
    color: var(--clr-white);
  }
  &:active:not(:disabled) {
    background-color: var(--clr-primary);
  }
  &:disabled {
    border: 1px solid var(--clr-grey);
    color: var(--clr-grey);
    cursor: default;
  }
}

.input-style {
  display: flex;
  background-color: var(--clr-bg);
  padding: 18px 32px;
  border-radius: 100px;
  border: 1px solid transparent;
  cursor: pointer;
  > img {
    filter: invert(45%) sepia(0%) saturate(1628%) hue-rotate(183deg)
      brightness(87%) contrast(87%);
  }
  > input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--clr-bg);
    font-size: 18px;
    padding-left: 30px;
  }
}

.input-style:hover:not(:focus-within) {
  border: 1px solid var(--clr-grey);
  box-sizing: border-box;
}

.input-style:focus-within {
  border: 1px solid var(--clr-primary);
  > img {
    filter: none;
  }
  > input:focus::placeholder {
    color: transparent;
  }
}

.error-message {
  color: var(--clr-danger);
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
