:root {
  --font-inter: "Inter";
  --font-nunito: "Nunito";
  --clr-primary: #444df2;
  --clr-primary-hover: #797ef3;
  --clr-danger: #ed1e79;
  --clr-success: #92c83e;
  --clr-grey: #686868;
  --clr-bg: #eceefe;
  --clr-white: #ffffff;
}
